@tailwind base;
@tailwind components;
@tailwind utilities;
@import "mapbox-gl/dist/mapbox-gl.css";

/* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); 
} */
/* body {
  background: linear-gradient(to bottom, transparent, rgb(255, 255, 255))
    rgb(214, 219, 220);
} */
body {
  /* background-color: rgb(219, 224, 224); */
  /* background: linear-gradient(to bottom, rgb(230, 235, 235), transparent); */
  background-color: transparent;
}

.map-container {
  height: 230px;
  border-radius: 18px;
}

@keyframes slide {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.animated-slide {
  animation: forwards 0.5s ease-in-out slide;
}
