@tailwind base;
@tailwind components;
@tailwind utilities;
@import "mapbox-gl/dist/mapbox-gl.css";

body {
  background-color: transparent;
}

.map-container {
  height: 230px;
  border-radius: 18px;
}

@keyframes slide {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.animated-slide {
  animation: forwards 0.5s ease-in-out slide;
}
